@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book>
<div class="text-center">
    <h1 class="display-4">Daintree Books</h1>
</div>

@foreach (var x in Model)
{
    <div class="card items-center">
        <div class="card-body text-center">
            <h4 class="card-title text-center">@x.Title</h4>
            <h6 class="card-subtitle mb-2 text-muted text-center">@x.Author</h6>
            <br />
            <div>
                <p class="card-text">Publisher : @x.Publisher</p>
                <p class="card-text">Genre : @x.Classification</p>
                <p class="card-text">ISBN : @x.ISBN</p>
                <p class="card-text">Price : $@x.Price</p>
            </div>
        </div>
    </div>
}

